{% block panelderecho %}
<div class="page-header">Publicidad</div>
<div class="page-header">Publicidad</div>

<div class="page-header">Publicidad</div>
<ul class="thumbnails">
	<li>
	<div class="thumbnail">
		<img src="http://localhost/wordpress/wp-content/uploads/2016/02/30012016150237.gif" alt="No imagen">
	</div>
	</li>
	

	<li>
	<div class="thumbnail">
	<img src="http://localhost/wordpress/wp-content/uploads/2016/02/30012016150237.gif" alt="No imagen">
	</div>
	</li>
</ul>

<div class="page-header">Publicidad</div>

<div class="page-header">Publicidad</div>
<ul class="thumbnails">
	<li>
	<div class="thumbnail">
	<img src="http://localhost/wordpress/wp-content/uploads/2016/02/13012016130518.gif" alt="No imagen">
	</div>
	</li>

	<li>
	<div class="thumbnail">
	<img src="http://localhost/wordpress/wp-content/uploads/2016/02/13012016130518.gif" alt="No imagen">
	</div>
	</li>
</ul>

<div class="page-header">Publicidad</div>
<div class="page-header">Publicidad</div>
{% endblock %}

