{% block footer %}
<!-- Start: FOOTER -->
<footer>
      <hr class="footer-divider">
      <div class="container">
        <p class="center-align">
          2016 
        </p>
      </div>
</footer>
    <!-- End: FOOTER -->
{% endblock %}