{% block portada %}

<div class="portada">
	
	
	<div class="row">
	<div class="span3">
	<div class="social-icons-row">
    <a href="#"><i class="icon-twitter"></i></a>
    <a href="#"><i class="icon-facebook"></i></a>
    <a href="#"><i class="icon-linkedin"></i></a>  
    <a href="#"><i class="icon-google-plus"></i></a>  
    </div>
    </div>
	<div class="portada-texto span6"><h1><p class="text">Centro de Estudiantes del Chaco</p></h1></div>
	<div class="span3"><img src="{{ path('home') ~ '../uploads/imagenes/pelogolargo.jpg'}}"></div>
	</div>	

	


</div>

{% endblock %}